body {
  font-family: "Roboto Slab", "Times", serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 20px;

  margin: 0;
  padding: 0;

  letter-spacing: .04em;

  color: #fff;
  background-color: #5c5766;
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 12px;
}

.clearfix::after {
  display: table;
  clear: both;

  content: "";
}

.content-section {
  padding-top: 67px;
  padding-bottom: 70px;
}

.icon {
  width: 62px;
  height: 62px;
  margin: 0 auto;

  border: 2px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.icon::after {
  display: block;

  width: 48px;
  height: 48px;
  margin: 7px auto;

  content: "";

  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #fff;
}

.main-header {
  position: fixed;
  z-index: 100;

  width: 100%;

  background-color: rgba(92,87,102,.3);
}
/******Навигация******/
.main-navigation-list {
  overflow: hidden;

  width: 800px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.main-navigation-list li {
  float: left;
}

.main-navigation-list a {
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;

  display: inline-block;

  width: 200px;
  padding-top: 25px;
  padding-bottom: 25px;

  text-align: center;
  vertical-align: top;
  text-decoration: none;
  letter-spacing: .1em;
  text-transform: uppercase;

  color: #fff;
}

.main-navigation-list a:hover {
  background-color: #524e5a;
}

/*******Вступление********/
.short-profile {
  padding-top: 129px;

  text-align: center;
}

.main-icon {
  display: inline-block;

  margin-bottom: 30px;

  vertical-align: top;
}

.main-icon::after {
  font-family: "Pacifico", "Arial", sans-serif;
  font-size: 33px;
  font-weight: 700;
  line-height: 36px;

  display: block;

  content: "m";
  letter-spacing: 3px;

  color: #5c5766;
  background-color: #fff;
}
.greetings {
  font-size: 23px;
  font-weight: 400;

  text-transform: uppercase;
}

.name {
  font-size: 44px;
  font-weight: 100;
  line-height: 61px;
}

.name span {
  font-weight: 700;
}

.introduction {
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;

  margin-bottom: 30px;
}

.short-about-info {
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;

  display: inline;

  margin-right: 53px;

  letter-spacing: .24em;
}

.short-about-info strong {
  text-transform: uppercase;

  color: #f4cd6f;
}

.short-about div:last-child {
  margin-right: 0;
}


/******Соц иконки******/
.social-icons {
  position: relative;

  width: 245px;
  margin: 0 auto;
  margin-bottom: 110px;

  background-color: #5c5766;
}

.social-icons::before {
  position: absolute;
  top: 50%;
  left: 0;

  display: table;

  width: 58px;
  height: 2px;

  content: "";

  background-color: #c4c0cf;
}

.social-icons::after {
  position: absolute;
  top: 50%;
  right: 0;

  display: table;

  width: 58px;
  height: 2px;

  content: "";

  background-color: #c4c0cf;
}

.social-icon {
  display: inline-block;

  width: 27px;
  height: 27px;
  margin-right: 18px;

  vertical-align: top;

  border: 2px solid #c4c0cf;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: url(../img/sprites.png) no-repeat 0 0;
}

.social-icon:hover {
  border: 2px solid #ffd670;
}

.social-icon:active {
  border: 2px solid #c4c0cf;
}

.social-icon-tw {
  background-position: -46px 6px;
}

.social-icon-dribble {
  background-position: -95px 4px;
}

.social-icon-be {
  background-position: -144px 8px;
}

.social-icons a:last-child {
  margin-right: 0;
}

/*******About*********/
.about {
  background-color: #524664;
}

.about-icon {
  margin-bottom: 10px;

  border: 2px solid #f4cd6f;
}

.about-icon::after {
  background: url(../img/sprites.png) no-repeat 4px 10px #f4cd6f;
}

.main-title {
  font-size: 23px;
  font-weight: 700;
  line-height: 25px;

  margin: 0;
  padding: 0;

  text-align: center;
  letter-spacing: .04em;
  text-transform: uppercase;
}

.main-title::after {
  display: block;

  width: 50px;
  height: 2px;
  margin: 12px auto;

  content: "";

  background-color: #bdb3c9;
}

.main-subtitle {
  font-size: 11px;
  font-weight: 300;
  line-height: 12px;

  display: block;

  margin-bottom: 65px;

  text-align: center;
  letter-spacing: .04em;
  text-transform: uppercase;

  color: #bdb3c9;
}

.biography {
  float: left;

  width: 350px;
}

.biography-title,
.skills-title {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;

  margin: 0;
  margin-bottom: 11px;
  padding: 0;

  text-transform: uppercase;
}

.biography p {
  font-size: 10px;
  font-weight: 300;
  line-height: 20px;

  display: block;

  margin: 0;
  padding: 14px 0;

  color: #bdb3c9;
}

.biography p a {
  font-weight: 400;

  text-decoration: none;

  color: #bdb3c9;
}

.big-icon {
  float: left;

  width: 236px;
  height: 236px;
  margin-right: 33px;
  margin-left: 30px;

  border: 3px solid #ffd670;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.big-icon::after {
  width: 170px;
  height: 170px;
  margin: 33px auto;

  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #ffd670;
}

.skills {
  float: left;

  width: 345px;
}

.skill-set-title {
  font-size: 10px;
  font-weight: 400;

  margin: 0;
  padding: 14px 0;

  color: #bab6c5;
}

.bar-skills {
  overflow: hidden;

  width: 345px;
  margin-bottom: 9px;

  border: 1px solid #594d6b;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #615474;
}

.bar-skills:last-child {
  margin-bottom: 0;
}

.bar-skills-content {
  font-size: 8px;
  font-weight: 700;
  line-height: 8px;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;
  padding: 10px 11px;

  text-transform: uppercase;
  background-color: #ffd670;
}

.bar-skills-content span {
  float: right;
  color: #594d6b;
}


/******Портфолио*******/
.portfolio {
  background-color: #ffd670;
}

.portfolio-main-subtitle {
  color: #fff;
}

.portfolio-main-title::after {
  display: block;

  width: 50px;
  height: 2px;
  margin: 12px auto;

  content: "";

  background-color: #fff;
}

.portfolio-left-column {
  float: left;

  width: 318px;
}

.portfolio-right-column {
  float: right;

  width: 650px;
}

.portfolio-left-column-content,
.blog-footer,
.blog-comments {
  border-top: 1px solid #fff1ce;
}

.portfolio-title {
  font-size: 11px;
  font-weight: 300;
  line-height: 35px;

  margin: 0;
  padding: 0;

  text-transform: uppercase;

  color: #fff1ce;
}

.portfolio-first-title {
  line-height: 12px;

  margin-bottom: 13px;
}

.project-title {
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;

  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  text-transform: uppercase;
}

.portfolio-left-column-content p {
  font-size: 10px;
  font-weight: 300;
  line-height: 20px;

  margin: 0;
  margin-bottom: 18px;
  padding: 0;

  color: #fff;
}

.portfolio-list {
  margin: 0;
  margin-bottom: 10px;
  margin-left: 21px;
  padding: 0;

  list-style: none;
}

.portfolio-list li {
  position: relative;

  padding-left: 19px;
}

.portfolio-list li::before {
  position: absolute;
  top: 6px;
  left: 0;

  display: block;

  width: 6px;
  height: 6px;

  content: "";
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);

  background-color: #fff;
}

.portfolio-left-column-content a {
  text-decoration: none;
  color: #fff;
}

.portfolio-left-column-content a:hover {
  text-decoration: underline;
}


/*******Галлерея********/
.portfolio-gallery {
  position: relative;
}

.portfolio-content {
  margin-bottom: 32px;
}
.no-js .portfolio-gallery-slide {
  display: block;
}

.portfolio-gallery-slide {
  display: none;
}

.portfolio-gallery-slide.current {
  display: block;
  margin: 0;
}

.portfolio-gallery-slide img {
  width: 650px;
  height: 382px;
}

.no-js .portfolio-gallery-arrow {
  display: none;
}

.portfolio-gallery-arrow {
  outline: none;
  position: absolute;
  top: 43%;

  display: block;

  width: 36px;
  height: 54px;
  margin: 0;
  padding: 0;

  text-decoration: none;

  border: none;
}

.portfolio-gallery-arrow-left {
  left: 0;

  -webkit-border-top-right-radius: 3px;
          border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
          border-bottom-right-radius: 3px;
  background: transparent url(../img/sprites.png) no-repeat -193px 11px;
}

.portfolio-gallery-arrow-right {
  right: 0;

  -webkit-border-top-left-radius: 3px;
          border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
          border-bottom-left-radius: 3px;
  background: transparent url(../img/sprites.png) no-repeat -242px 11px;
}


.portfolio-gallery-arrow-right:hover,
.portfolio-gallery-arrow-left:hover {
  background-color: rgba(255,255,255,.3);
}

.close-btn:active {
  background: url(../img/portfolio-cross.png) 0 0 no-repeat;
}

.portfolio-gallery-arrow-right:active,
.portfolio-gallery-arrow-left:active {
  background-color: #af9459;
}

.portfolio-navigation {
  margin: 0;
  padding: 0;
  padding-bottom: 29px;

  list-style: none;

  text-align: center;
}

.portfolio-navigation li {
  display: inline-block;

  margin-right: 30px;

  text-align: center;
  vertical-align: top;
}

.portfolio-navigation li:last-of-type {
  margin-right: 0;
}

.portfolio-navigation a {
  font-size: 8px;
  font-weight: 400;
  line-height: 20px;

  display: block;

  padding-right: 10px;
  padding-left: 10px;

  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
}

.portfolio-navigation-active {
  border: 1px solid #fff;
}

.portfolio-navigation a:hover {
  color: #5c5766;
}

.portfolio-navigation-active:hover {
  border: 1px solid #5c5766;
}

.portfolio-navigation a:active {
  color: #fff;
}

.portfolio-navigation-active:active {
  border: 1px solid #fff;
}

/**********Ромбы***********/
.portfolio-rhombus-top,
.portfolio-rhombus-bottom {
  font-size: 0;

  letter-spacing: 0;
}

.portfolio-rhomb {
  font-size: 9px;
  font-weight: 300;
  line-height: 13px;

  display: inline-block;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 160px;
  height: 160px;
  margin: 55px 99px 30px 0;
  padding: 50px 5px 5px 5px;

  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  text-align: center;
  vertical-align: top;

  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #fff0ca;
}

.portfolio-rhomb:first-child {
  margin-left: 30px;
}

.portfolio-rhomb:last-child {
  margin-right: 0;
}

.portfolio-rhombus-bottom {
  margin-top: -107px;
  margin-left: 129px;
}

.portfolio-rhomb-active {
  background-color: #5c5766;
}

.portfolio-rhomb h4 {
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;

  margin: 0;
  margin-left: -34px;
  padding: 0;

  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.portfolio-rhomb p {
  position: absolute;
  top: 68px;
  left: 8px;

  width: 155px;
  margin: 0;
  padding: 0;

  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  word-wrap: break-word;
}

.portfolio-circle-in-rhomb {
  position: absolute;
  top: 103px;
  left: 103px;

  display: block;

  width: 42px;
  height: 42px;

  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #bc492b;
}

.portfolio-circle-in-rhomb::before {
  position: absolute;
  top: 21px;
  left: 13px;

  display: block;

  width: 16px;
  height: 2px;

  content: "";
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);

  background-color: #fff;
}

.portfolio-circle-in-rhomb::after {
  position: absolute;
  top: 21px;
  left: 13px;

  display: block;

  width: 16px;
  height: 2px;

  content: "";
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);

  background-color: #fff;
}

.portfolio-circle-in-rhomb:hover {
  background-color: #c63d13;
}

.portfolio-circle-in-rhomb:active {
  background-color: #bc492b;
}

/***********Blog**************/
/***********Left column*******/
.blog {
  color: #5b6074;
  background-color: #fff;
}

.blog-container {
  padding-right: 140px;
  padding-left: 191px;
}

.blog-left-column {
  float: left;

  width: 449px;
  margin-right: 20px;
}

.blog-left-column img {
  display: block;

  width: 449px;
  height: 248px;

  -webkit-border-radius: 5px;
          border-radius: 5px;
}


.blog-main-title {
  font-size: 16px;
  font-weight: bold;
  padding: 0;

  text-transform: uppercase;

  color: #5b6074;
}

.blog-article-metadata {
  font-size: 8px;
  font-weight: 300;
  line-height: 10px;
  text-transform: uppercase;

  margin-bottom: 15px;
}

.blog-article-metadata a {
  font-weight: 300;

  text-decoration: none;

  color: #5b6074;
}

.blog-article-metadata .blog-article-section {
  font-weight: 700;
  font-style: normal;

  text-decoration: underline;
}

.blog-article-metadata a:hover {
  text-decoration: none;
}

.blog-article-metadata a:active {
  text-decoration: underline;
}

.blog-content p {
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;

  margin: 0;
  margin-bottom: 24px;
  padding: 0;
}

.blog-footer,
.blog-comments {
  border-top: 1px solid #f8f8f8;
}

.blog-comment {
  border-bottom: 1px solid #f8f8f8;
}

.blog-comment-reply {
  border: none;
}

.blog-content p:last-of-type {
  margin-bottom: 17px;
}

.blog-tags {
  font-size: 9px;
  font-weight: 700;
  line-height: 50px;

  display: inline;

  text-transform: uppercase;
}

.blog-footer a {
  font-size: 9px;
  font-weight: 300;

  text-decoration: none;

  color: #5b6074;
}

.blog-footer a:hover {
  text-decoration: underline;
}

.blog-footer a:active {
  text-decoration: none;
}

.blog-title {
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;

  margin: 30px 0;
  padding: 0;

  text-transform: uppercase;
}

.blog-comment  .blog-user-icon {
  float: left;

  width: 47px;
  height: 48px;
  margin-right: 12px;

  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.blog-user-name {
  font-size: 9px;
  font-weight: 700;
  line-height: 11px;

  display: block;

  margin-bottom: 5px;
  padding: 0;

  color: #ffd670;
}

.blog-comments {
  margin-bottom: 47px;
}

.blog-comments time {
  font-size: 8px;
  font-weight: 300;
  line-height: 12px;

  text-transform: uppercase;

  color: #d9d9d9;
}

.blog-comment {
  margin-bottom: 25px;
}

.blog-comment .comment-reply {
  font-size: 8px;
  font-weight: 300;
  line-height: 15px;

  text-decoration: none;
  text-transform: uppercase;

  color: #ffd670;
}

.blog-comment .comment-reply:hover {
  text-decoration: underline;
}

.blog-comment .comment-reply:active {
  text-decoration: none;
}

.blog-comment p {
  font-size: 9px;
  font-weight: 300;
  line-height: 15px;

  margin: 0 0 25px 58px;
  padding: 0;
}

.blog-comment-reply {
  padding-left: 60px;
}


.blog-form-comment .blog-title {
  margin-top: 0;
  margin-bottom: 13px;
}

.blog-form-comment p {
  font-size: 9px;
  line-height: 20px;
}

.blog-form-comment input,
.blog-form-comment textarea,
.blog-search {
  font-family: "Roboto Slab", "Times", serif;
  font-size: 13px;
  height: 40px;
  outline: none;
  width: 190px;
  margin: 0;
  padding-left: 12px;
  padding-right: 12px;

  color: #5b6074;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #f8f8f8;
}

.blog-form-comment .blog-comment-text {
  margin-right: 16px;
  margin-bottom: 12px;
}

.blog-form-comment .blog-comment-email {
  margin-right: 0;
}


.blog-form-comment textarea {
  display: block;
  padding-top: 12px;
  width: 424px;
  height: 140px;
  margin-bottom: 9px;
}

.blog-form-comment-note {
  line-height: 16px;

  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  color: #cacaca;
}

.form-comment .btn {
  font-family: "Roboto Slab", "Times", serif;
  font-weight: 700;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  line-height: 11px;

  color: #fff;
  background-color: #ffd670;
}

.blog-form-comment .comment-btn {
  font-size: 9px;
  height: 40px;

  width: 128px;
  margin-bottom: 106px;
}

.blog-form-comment .comment-btn:hover {
  background-color: #aeaeae;
}

.blog-form-comment .comment-btn:active {
  background-color: #ffd670;
}

/***********Right column*******/
.blog-right-column {
  float: left;

  width: 200px;

  text-transform: uppercase;
}

.blog-right-column .blog-search {
  display: block;

  width: 154px;
  margin-top: 26px;
  margin-bottom: 36px;
  padding-right: 36px;
}

.search-field {
  position: relative;
}

.search-icon::after {
  position: absolute;
  top: 39px;
  right: -8px;

  display: block;

  width: 40px;
  height: 36px;

  content: "";

  background: url(../img/sprites.png) no-repeat -147px -40px;
}

.blog-list {
  margin-bottom: 25px;
}

.blog-right-column label {
  display: block;
}

.blog-right-column label,
.blog-list-title {
  font-family: "Roboto Slab", "Times", serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 11px;

  margin: 0;
  margin-bottom: 26px;
  padding: 0;
}

.blog-right-column ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.blog-right-column a {
  font-size: 9px;
  font-weight: 400;
  line-height: 11px;

  display: block;

  padding: 11px 0 11px 19px;

  text-decoration: none;

  color: #5b6074;
}

.blog-right-column a:hover {
  color: #ccc;
}

.blog-right-column a:active {
  color: #5b6074;
}

.blog-right-column li {
  border-top: 1px solid #f8f8f8;
}

.blog-list li:first-child {
  border: none;
}

/*******Blog-articles-archive*****/
.blog-archive-articles {
  width: 100%;
  padding-bottom: 20px;
  white-space: nowrap; /* as we have inline-block childred, we can force them to stay on the same line by using nowrap */
  font-size: 0;
  letter-spacing: 0;
}

.blog-archive-article {
  font-size: 9px;
  line-height: 14px;

  display: inline-block;

  white-space: normal;
  width: 231px;
  margin-right: 25px;
  margin-bottom: 36px;

  vertical-align: top;

  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: #f3f3f3;
}

.blog-archive-article:last-child {
  margin-right: 0;
}

.blog-archive-article img {
  width: 231px;
  height: 199px;

  -webkit-border-top-left-radius: 6px;
          border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
          border-top-right-radius: 6px;
}

.blog-archive-article-title {
  font-weight: bold;

  overflow: hidden;

  height: 28px;
  margin: 17px;
  padding: 0;

  text-transform: uppercase;
}

.blog-archive-article-annotation {
  overflow: hidden;

  height: 28px;
  margin: 17px;
  margin-bottom: 0;
  padding: 0;
}

.blog-archive-article a {
  display: block;

  padding: 17px;

  text-decoration: underline;

  color: #ffd670;
}

.blog-archive-article a:hover {
  text-decoration: none;
}

.blog-archive-article a:active {
  text-decoration: underline;
}

.scroller-wrapper {
  position: relative;
  overflow: hidden;
  /* need to override height set by Baron plugin to hide 1px scoller in FF*/
  min-height: 396px !important;
  height: 396px !important;
}
.scroller {
  overflow-x: scroll;
}

.scroller::-webkit-scrollbar { /* Preventing webkit cross-direction scrolling bug */
  width: 0;
}

.scroller-track {
  display: none; /* Invisible by default */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  height: 13px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: #f3f3f3;
  outline: none;
}

._baron .scroller-track {
  display: block; /* Visible when scrolling is possible */
}

.scroller-bar {
  position: absolute;
  z-index: 1;
  height: 13px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: #ffd670;
}

/*********Twitter*********/
.twitter-rss {
  display: none;
  font-size: 0;

  text-align: center;
  letter-spacing: 0;
}

.twitter-icon {
  margin-bottom: 23px;

  border: 1px solid #ffd670;
}

.twitter-icon::after {
  background: #ffd670 url(../img/sprites.png) no-repeat -13px -116px;
}

.twitter-rss .twitter-post {
  font-size: 12px;
  line-height: 35px;

  margin: 0;
  margin-bottom: 7px;
  padding: 0;
}

.twitter-post cite {
  font-weight: 300;
  font-style: normal;

  text-transform: uppercase;
}


.twitter-author {
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  line-height: 35px;

  display: block;

  margin-bottom: 28px;
}

.no-js .twitter-arrows {
  display: none;
}

.twitter-arrows {
  display: table;

  width: 79px;
  height: 26px;
  margin: 0 auto;
}

.twitter-arrow {
  display: inline-block;

  width: 25px;
  height: 25px;

  vertical-align: top;

  border: 1px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: url(../img/sprites.png) no-repeat 0 0;
}

.twitter-arrow:hover {
  border: 1px solid #ffd670;
}

.twitter-arrow:active {
  border: 1px solid #fff;
}

.twitter-arrow-left {
  margin-right: 25px;

  background-position: -195px -46px;
}

.twitter-arrow-right {
  background-position: -228px -44px;
}

/********Contacts*********/
.contacts {
  font-size: 0;

  text-align: center;
  letter-spacing: 0;

  background-color: #fff;
}

.contacts-main-title {
  color: #5b6074;
}

.contacts-email-phone {
  font-size: 13px;

  width: 418px;
  height: 44px;
  margin: 0 auto;
  margin-bottom: 40px;

  color: #5b6074;
}

.contacts-email,
.contacts-phone {
  line-height: 44px;

  display: inline-block;

  vertical-align: top;
}

.contacts-email {
  margin-right: 24px;
}

.contacts-email-icon,
.contacts-phone-icon {
  display: inline-block;

  width: 39px;
  height: 39px;
  margin-right: 14px;

  vertical-align: top;

  border: 2px solid #ffd670;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: url(../img/sprites.png) no-repeat 0 0;
}

.contacts-email-icon {
  background-position: -40px -37px;
}

.contacts-phone-icon {
  background-position: -91px -41px;
}

.contacts-form {
  font-size: 0;

  width: 601px;
  margin: 0 auto;

  letter-spacing: 0;
}

.contacts-form-comment .contacts-form-text {
  margin-right: 27px;
  margin-bottom: 28px;
}

.contacts-form-comment .contacts-form-email {
  margin-right: 0;
}

.contacts-form-comment input,
.contacts-form-comment textarea {
  font-family: "Roboto Slab", "Times", serif;
  font-size: 13px;
  outline: none;
  width: 263px;
  margin: 0;
  padding: 12px;

  color: #5b6074;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #f8f8f8;
}

.contacts-form-comment textarea {
  display: block;

  width: 577px;
  height: 111px;
  margin-bottom: 26px;
}

.contacts-form-comment .send-msg-btn {
  width: 182px;
  height: 40px;
}

.contacts-form-comment .send-msg-btn:hover {
  background-color: #aeaeae;
}

.contacts-form-comment .send-msg-btn:active {
  background-color: #ffd670;
}


/*******Footer********/
.main-footer {
  font-size: 9px;
  line-height: 20px;

  padding-top: 20px;
  padding-bottom: 23px;

  text-align: center;

  color: #e1e1e1;
  border-top: 1px solid #f8f8f8;
  background-color: #fff;
}

.main-footer p {
  margin: 0;
  padding: 0;
}

.main-footer a {
  font-weight: 700;

  text-decoration: none;
  text-transform: uppercase;

  color: #aeaeae;
}

.main-footer a:hover {
  text-decoration: underline;
}

.main-footer a:active {
  text-decoration: none;
}
